  
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Roboto';
}

#BAR{
  background-color: #333;
}

.condiv{
  flex:var(--condiv-flex);
  min-height: 100vh;
}

svg{
  width: 30px;
  height: 30px;
  margin-right: 25px;
}

.MuiDrawer-paperAnchorDockedLeft, .MuiDrawer-paperAnchorLeft{
  background-color: #212121 !important;
  color: white !important;
  border-right: 1px solid #333 !important;
}

.Mui-selected{
  background-color: white !important;
  color: black !important;
}

.MuiAccordionSummary-expandIcon{
  color: white !important;
}

.gray_icons{
  color: gray !important;
}

.typingeffect{
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

.subtopic{
  margin:10px 10px 20px 10px !important;
  font-weight: 300;
  text-align: left;
}
p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p{
  margin: 10px;
}

.whiteHR{
  background-color: white;
  margin-bottom: 50px;
}

.main_content{
  flex-grow: 1;
  padding: 96px 30px 30px 30px;
  background-color: #212121 !important;
  color: white !important;
}

.gray_divider{
  background-color: #333 !important;
}

@media screen and (min-width: 1024px){
  
  .aboutpic{
    max-height: 600px;
    max-width: 600px;
  }

  .home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  
}

@media screen and (max-width: 1023px){
  .aboutpic{
    max-height: 425px;
    max-width: 365px;
  }

  .home{
    padding: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .aboutpic{
    min-width: 468px;
    max-width: 720px;
  }

  .home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
}

@media screen and (max-width: 767px){
  .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}